*{
    font-family: 'Roboto', sans-serif;
}
h1{
    background-color: black;
}
h2{
    background-color: #152c61;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
h3 {
    background-color: lightblue;
    text-align: right;
    color: purple;
    text-decoration: underline;
}
